/*COLOR PALLETTE
    (SCSS HEX) 
$rich-black: #042a2bff; => VERY DARK GREEN
$maximum-blue: #5eb1bfff; => AQUAMARINE
$light-cyan: #cdedf6ff; => LIGHT BLUE
$mandarin: #ef7b45ff; => ORANGE
$vermilion: #d84727ff; => RED-ORANGE
*/

.chart {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: min-content;
  height: auto;
  box-shadow: 1px 1px 1px 1px #4292d9;
  margin-bottom: 10em;
  margin-top: 3em;
  background-color: white;
}

.chartEach {
  padding: 2em;
}
