/*COLOR PALLETTE
    (SCSS HEX) 
$rich-black: #042a2bff; => VERY DARK GREEN
$maximum-blue: #5eb1bfff; => AQUAMARINE
$light-cyan: #cdedf6ff; => LIGHT BLUE
$mandarin: #ef7b45ff; => ORANGE
$vermilion: #d84727ff; => RED-ORANGE
*/

.footer {
  display: flex;
  flex-flow: row;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  justify-content: space-evenly;
  margin: auto;
  background-color: rgb(127, 213, 236);
  align-items: center;
  height: 50px;
  color: #f6f6f6;
  text-decoration: none;
  text-shadow: 1px 1px 2px #4292d9;
}

.shareSocial {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: auto;
}

.navBarLinksFooter {
  text-shadow: 1px 1px 2px #4292d9;
  color: #f6f6f6;
}
