.newsIndexMainDiv {
  overflow: scroll;
  height: 600px;
}


.newsDivEach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 3px 3px 1px #cdedf6ff;
  margin-bottom: 1em;
  /* margin-left: 5em; */
  padding: 2em;
  background-color: white;
  cursor: pointer;
  text-align: left;
}

.articleImage {
  width: 100%;
  height: auto;
  /* padding-left: 2em;
  padding-top: 1em; */
}

.newsTitle {
  font-weight: bold;
  font-size: 16pt;
  padding-bottom: 10px;
}

.desc {
  padding-bottom: 10px;
  font-size: medium;
}
