.newsDivEach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 3px 3px 1px #cdedf6ff;
  width: 60%;
  margin-bottom: 1em;
  margin-left: 5em;
  padding: 3em;
  background-color: white;
  cursor: pointer;
  text-align: left;
}

.articleImage {
  width: 100%;
  height: auto;
}
