/*COLOR PALLETTE
    (SCSS HEX) 
$rich-black: #042a2bff; => VERY DARK GREEN
$maximum-blue: #5eb1bfff; => AQUAMARINE
$light-cyan: #cdedf6ff; => LIGHT BLUE
$mandarin: #ef7b45ff; => ORANGE
$vermilion: #d84727ff; => RED-ORANGE
*/

.stateSearchMainDiv {
  margin: auto;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  /* grid-template-rows: 50% 50%; */
  margin-bottom: 10em;
  margin-top: 4em;
  align-content: center;
   
}

.stateNumbers {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  text-align: left;
  width: 10%;
  margin-left: 10em;
}

.statesCh {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}

/* .stateInfoIdx {
  margin-left: 10em;
  width: min-content;
} */

.stateNewsFeed {
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-left: 7em;
  width: 100vw;
}
