.stateName {
  font-size: 4em;
  font-weight: bold;
  color: #042a2bff;
  text-shadow: 1px 1px 1px #cdedf6ff;
  width: max-content;
}

.stateInfoIdx {
  display: flex;
  flex-direction: row;

  width: min-content;
  height: auto;
  text-align: initial;
  color: rgba(32, 87, 87, 0.664);
  padding-left: 8em;
  margin-top: 2em;
}

.stateInfoUl {
  margin: auto;
  /* display: flex; */
padding-bottom: 1em;
}

.stateInfoUl > li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
  padding-bottom: 1em;
  cursor: pointer;
}

.websites {
  color: blue;
}

.websites:hover {
  cursor: pointer;
  text-decoration: underline;
}

.statePic {
  width: 150%;
  height: auto;
  padding-bottom: 2em;
}

.govtsites {
  font-size: large;
  color: #042a2bff;
  padding-bottom: 5px;
}