/*COLOR PALLETTE
    (SCSS HEX) 
$rich-black: #042a2bff; => VERY DARK GREEN
$maximum-blue: #5eb1bfff; => AQUAMARINE
$light-cyan: #cdedf6ff; => LIGHT BLUE
$mandarin: #ef7b45ff; => ORANGE
$vermilion: #d84727ff; => RED-ORANGE
*/

.UStotalsMap {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 10em;
  margin-top: 5em;
}

.info {
  margin-left: 7em;
  width: min-content;
  text-align: left;
}

.usP {
  font-weight: 550;
  font-size: 20pt;
  color: #042a2bff;
  padding-bottom: 0.2em;
  width: min-content;
}

.usStatsli {
  width: min-content;
  font-weight: 400;
  font-size: 25pt;
  color: #d84727ff;
  padding-bottom: 0.5em;
}

.interactiveMap {
  width: 75%;
  height: auto;
  margin: auto;
}

.usUl {
  width: 25%;
}

.usFeedNews {
  grid-row-start: 2;
  height: min-content;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100vw;
  padding: 5em;
}

.chartDivwith3 {
  display: flex;
  flex-direction: row;
  margin-left: 8em;
}

.headerMap {
  color: #042a2bff;
  text-shadow: 1px 1px 1px #dddddd;
  font-size: larger;
  margin-top: 5em;
}

.rsm-geography:hover {
  stroke: #5eb1bfff;
  fill: #ef7b45ff;
}

.rsm-geography:active {
  stroke: #5eb1bfff;
  fill: #ef7b45ff;
}
/* stroke: rgb(255, 255, 255);
    fill: rgb(221, 221, 221); */
