/*COLOR PALLETTE
    (SCSS HEX) 
$rich-black: #042a2bff; => VERY DARK GREEN
$maximum-blue: #5eb1bfff; => AQUAMARINE
$light-cyan: #cdedf6ff; => LIGHT BLUE
$mandarin: #ef7b45ff; => ORANGE
$vermilion: #d84727ff; => RED-ORANGE
*/

.UStotalsMap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: min-content;
}



.usP {
  font-weight: 550;
  font-size: 20pt;
  color: #042a2bff;
  padding-bottom: 0.5em;
}

.usStatsli {
  font-weight: 400;
  font-size: 25pt;
  color: #d84727ff;
  padding-bottom: 1em;
}

#homeImageDiv {
  padding-top: 5em;
  height: auto;
  width: 100%;
}

.interactiveMap {
  width: 75%;
  height: auto;
  margin: auto;
}

.chartMapContainer {
  grid-area: 1 / 2 / 4 / 3;
  height: min-content;
}

.usFeedNews {
  grid-area: 4 / 1 / 7 / 3;
  height: min-content;
  display: flex;
  flex-direction: row;
}



.chartDivwith3 {
  display: flex;
  flex-direction: row;
}

.headerMap {
  color: #000000;
  text-shadow: 1px 1px 1px #dddddd;
  z-index: 5;
  font-size: larger;
  margin-top: 3em;
}
